import streamlit as st
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import people_also_ask
import re
import sqlite3
from bs4 import BeautifulSoup
import requests
from sklearn.linear_model import LinearRegression
import numpy as np
